.stat{
  position: relative;
  background-image:url('https://hdqwalls.com/wallpapers/yellow-mustang-4k-5w.jpg');
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.stat-items{
  padding-top: 200px;

}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
