*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Varela Round',sans-serif;
}
button{
  font-family: 'Varela Round',sans-serif;

}
.container{
  width: 80%;
  margin: auto;
}
.pd-y{
  padding: 120px 0;
}

.clear{
  clear: both;
}